body{
  background-color: #04081A;
}
.container-fluid{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
color: #FFF;
}
.bg-dark-blue{
  background-color: #04081A;
  color: #FFF;
  font-size: 30px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Lemonada', monospace;
}
p{
  font-family: 'Open Sans', monospace;
}
.jumbotron, #galleryImages{
  width: 60%;
  height: 70%;
  margin: 2% auto;
  background:transparent;
}
